.et_pb_button {
  background: $c-theme-orange;
  border-color: $c-theme-orange;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 0;
  &:hover {
    background-color: $c-theme-blue;
  }
  &:hover:after {
    right: 0;
  }
  &:after {
    line-height: 26px;
    top: 50%;
    transform: translateY(-50%);
  }
  &.et_pb_bg_layout_light:hover {
    background-color: $c-theme-blue;
  }
}
.et_pb_bg_layout_light .et_pb_button:hover {
  background-color: $c-theme-blue;
}
.et_pb_button_module_wrapper > a {
  white-space: nowrap;
}

#main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    color: $c-theme-blue;
    margin-bottom: 36px;
    font-weight: 700;
    &:after {
      content: '';
      position: absolute;
      bottom: -12px;
      height: 2px;
      background-color: $c-theme-blue;
      width: 73.5%;
      left: 0;
    }
    &[style*='text-align: center']:after,
    &[style*='text-align: center !important']:after,
    &.et_pb_slide_title[style*='text-align: center !important']:after {
      left: 50%;
      transform: translateX(-50%);
    }
    &.et_pb_toggle_title {
      margin-bottom: unset;
      &:after {
        display: none;
      }
    }
  }
  .et_pb_slider .et_pb_slide .et_pb_slide_description .et_pb_slide_title:after {
    display: none !important;
  }
}

#main-content .et_pb_module,
#main-content .et_pb_section {
  .et_pb_bg_layout_dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:after {
        background: #FFFFFF;
      }
    }
  }
}

#main-content .et_pb_row.row-products .et_pb_column {
  .et_pb_text .et_pb_text_inner h4 {
    min-height: 64px;
    display: flex;
    align-items: center;
  }
  .et_pb_image .et_pb_image_wrap {
    min-height: 270px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #f0f0f0;
  }
}

#main-content .et_pb_image .et_pb_image_wrap {
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
  }
}

#main-content .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_description h2.et_pb_slide_title {
  line-height: 1.25;
}

@media (max-width: 767px) {

  .et_pb_slider .et_pb_slide_0.et_pb_slide>.et_pb_container {
    max-width: 80%;
  }
  .et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_description h2.et_pb_slide_title {
    font-size: 24px !important;
  }

}

@media (min-width: 981px) {

  .et_pb_gutters3 .et_pb_column_1_6,
  .et_pb_gutters3.et_pb_row .et_pb_column_1_6 {
    width: 14%;
    margin-right: 3.2%;
    &:last-child {
      margin-right: 0;
    }
  }

}
