.contact-form-block {
  width: 100%;
  max-width: 100%;
  background: #9f9f9f;
  color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  .et_pb_column {
    width: 80%;
    max-width: 1080px;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
    &.et-last-child {
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
  .jotform-form {
    margin-top: 30px;
  }
}

#main-content .contact-form-block .et_pb_column {
  h2 {
    color: #FFFFFF;
    &:after {
      background: #FFFFFF;
    }
  }
}

.form-line.jf-required.captcha {
  .form-label {
    text-align: right;
  }
  .form-input-wide {
    display: flex;
    justify-content: flex-end;
  }
}

.jotform-form {
  width: 100%;
  .form-all .form-section {
    list-style: none outside none;
    max-width: 900px;
    margin: 0 auto 15px;
    .column .form-line {
      margin-top: 10px;
    }
    .form-line {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 5px;
      }
      /*
      &[data-type="control_phone"] .form-input-wide > div {
        display: flex;
        .form-sub-label-container {
          flex-basis: 70%;
          &:first-child {
            flex-basis: 30%;
            padding-right: 30px;
          }
        }
      }
       */
      input[type=email],
      input[type=text],
      input[type=tel],
      textarea {
        width: 100%;
        padding: 10px;
      }
      .form-single-column {
        display: flex;
        flex-direction: column;
      }
      .form-checkbox-item {
        margin-top: 10px;
        display: flex;
        align-items: center;
        &:first-child {
          margin-top: 0;
        }
        input[type=checkbox] {
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 10px;
        }
        label {
          margin-bottom: 0;
        }
      }
      .form-buttons-wrapper {
        display: flex;
        align-items: center;
        button {
          margin-left: auto;
        }
      }
    }
    .column {
      width: 100%;
    }
  }
}

@media (min-width: 981px) {
  .contact-form-block {
    padding: 5% 0;
  }
  .jotform-form .form-all .form-section {
    display: flex;
    flex-wrap: wrap;
  }
  .jotform-form .form-all .form-section .column {
    width: 50%;
    flex-basis: 50%;
    padding-left: 30px;
    &.full-width {
      flex-basis: 100%;
      width: 100%;
      padding-left: 0;
      padding-top: 10px;
    }
    .form-line {
      &:first-child {
        margin-top: 0;
      }
      .form-sub-label {
        font-weight: normal;
        font-size: small;
        font-style: italic;
      }
      .form-address-city-state {
        display: flex;
        .form-address-city-line,
        .form-address-state-line {
          flex-basis: 50%;
        }
        .form-address-city-line {
          padding-right: 30px;
        }
        .form-address-state-line {
          padding-left: 30px;
        }
      }
      .form-address-zip-code {

      }
    }
    &:first-child {
      padding-left: 0;
      padding-right: 30px;
    }
  }
}