@mixin hidden() {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
@mixin visible() {
    visibility: visible;
    height: auto;
    width: auto;
    overflow: visible;
}