#main-footer {
    background-color: #005faa;

    #footer-widgets {
        padding: 40px 0;
    }

    .footer-widget {
        display: flex;
        align-items: center;
        &:nth-child(n) {
            margin-top: $s-gap !important;
            margin-bottom: 0 !important;
            &:empty {
                margin-top: 0 !important;
            }
        }
        &:first-child {
            margin-top: 0 !important;
        }
        .title {
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 0;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        ul li {
            font-size: 13px;
            padding-left: 23px;
            margin-top: 15px;
            margin-bottom: 0;
            &:first-child {
                margin-top: 0;
            }
            &:before {
                border-color: #FFFFFF;
            }
            &.address,
            &.phone,
            &.email {
                display: flex;
                align-items: center;
                padding-left: 0;
                &:before {
                    border-color: transparent;
                    border-width: 0;
                    box-sizing: border-box;
                    background: $c-theme-orange;
                    color: #FFFFFF;
                    font-family: $fontawesome;
                    font-weight: 700;
                    border-radius: 2px;
                    height: 32px;
                    width: 100%;
                    max-width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: unset;
                    left: unset;
                    margin-right: 10px;
                }
            }
            &.address:before {
                content: '\f3c5';
            }
            &.phone:before {
                content: '\f095';
            }
            &.email:before {
                content: '\f0e0';
            }
        }

        .widget_media_image {
            background: #FFFFFF;
            max-width: 100px;
            width: 50%;
            padding: 4px;
            margin-bottom: 0 !important;
            margin-left: 10px;
            img {
                display: block;
            }
        }
    }
}

@media (min-width: 767px) {
    #footer-widgets {
        display: flex;
    }
    #main-footer .footer-widget:nth-child(n) {
        margin-top: 0 !important;
    }
}