#et-secondary-nav li ul,
#top-header {
    background-color: #005FAA;
}
#top-header {
    font-size: 14px;
}
.et_header_style_centered #main-header {
    padding-top: 0;
    padding-bottom: 0;
}
.et_header_style_centered #main-header .mobile_nav {
    background: transparent;
    &.opened .mobile_menu_bar:before {
        background: #dddddd;
        border-radius: 4px;
    }
}
.et_header_style_centered .et_mobile_menu {
    top: 42px;
    border-top: 0;
    background: #005FAA;
    visibility: hidden;
    display: block;
    overflow: hidden;
    li a {
        color: #FFFFFF;
        text-transform: uppercase;
        border-bottom: 0;
    }
}
.et_header_style_centered .mobile_nav.opened .et_mobile_menu:first-of-type {
    visibility: visible;
    display: block;
    overflow: visible;
}
#main-header .top-bar .container {
    display: flex;
    justify-content: center;
}
.et_header_style_centered #main-header .header-main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.et_header_style_centered #main-header .header-main .container .cart-link {
    display: flex;
    align-items: center;
    margin-top: 15px;
    i {
        color: $c-theme-orange;
        font-size: 12px;
        margin-right: 12px;
    }
    button {
        color: #FFFFFF;
        background: $c-theme-orange;
        border: none;
        border-radius: 0;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        height: 28px;
        min-width: 76px;
    }
}

#main-header {
    background-color: #f3f3f3;
    .top-bar {
        width: 100%;
        padding: 10px 0;
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin-left: 8px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -5px;
                    width: 1px;
                    background: #3a3a3a;
                    height: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:first-child:before {
                    display: none;
                }
                a {
                    display: block;
                    white-space: nowrap;
                }
            }
        }
    }
    .top-bar-header {
        background: #000000;
        color: #FFFFFF;
        ul li {
            font-size: 12px;
            text-transform: uppercase;
            a {
                color: #FFFFFF;
            }

        }
    }
    .logo_container {
        height: auto;
        a {
            display: block;
        }
    }
    .header-main {
        padding: 14px 0;
    }
}

@media (min-width: 981px) {
    .et_header_style_centered nav#top-menu-nav {
        display: flex;
        width: 100%;
        background: $c-theme-blue;
        .container {
            display: flex;
            width: 90%;
            max-width: 1080px;
            margin: 0 auto;
        }
        #top-menu,
        #account-menu {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                padding: 0 15px;
                border-right: 1px solid #1c70b3;
                &:first-child {
                    border-left: 1px solid #1c70b3;
                }
                &:hover {
                    background-color: $c-theme-orange;
                }
            }
            li a {
                display: flex;
                align-items: center;
                height: 50px;
                color: #FFFFFF;
                padding: 18px 0;
                text-transform: uppercase;
                font-size: 13px;
                white-space: nowrap;
            }
            ul li {
                padding: 0;
                width: 100%;
                a {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        #account-menu {
            margin-left: auto;
        }
    }
    #main-header .top-bar .container {
        justify-content: flex-end;
    }
    .et_header_style_centered #main-header .header-main .container {
        flex-direction: row;
        .logo_container {
            max-width: 262px;
            height: auto;
        }
        .cart-link {
            margin-left: auto;
            margin-top: 0;
        }
    }
}