.popup-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    visibility: hidden;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    .popup-modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 80vw;
        max-height: 60vh;
        background: white;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
        .et_pb_button {
            margin-top: 2rem;
        }
    }
}

.popup-modal-container.open {
    visibility: visible;
    pointer-events: auto;
}