.et_header_style_centered #et_mobile_nav_menu {
    margin-top: 0;
    background: #005FAA;
    .mobile_menu_bar:before {
        color: #FFFFFF;
    }
}

@media (min-width: 981px) {
    #et-top-navigation .nav li {
        &.menu-item-has-children > a {
            display: flex;
            align-items: center;
        }
        &.menu-item-has-children > a:first-child:after {
            position: relative;
        }
        &.orange-btn {
            background: $c-theme-orange;
        }
        ul {
            left: 0;
            background: $c-theme-blue;
            border-top-color: $c-theme-orange;
            li {
                border-right: none;
            }
        }
    }
}